@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2");
  font-weight: 500;
  font-style: normal;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  color: #ffffff;

  background-color: #849d8f;
}

a {
  color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

.navigation-tastes,
.search,
.account,
.feedback,
.basket {
  display: none;
}

.button {
  color: #ffffff;
  vertical-align: middle;
}

.navigation-container {
  width: 1146px;
  display: flex;
  margin: 0 auto;
  margin-top: 5px;
}

.navigation-main {
  display: flex;
  align-items: center;
  width: 560px;
}

.navigation-list {
  display: flex;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  margin-left: 10px;
}

.navigation-item {
  font-weight: bold;
  line-height: 1.13;
  text-align: center;
  vertical-align: middle;
}

.navigation-item>a {
  padding: 5px 12px;
}

.navigation-item>a:hover,
.navigation-item>a:focus {
  color: #323232;
  text-decoration: none;
  background-color: #f7f6f3;
  border-radius: 40px;
}

.navigation-item a:active {
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0 #696969;
}

.navigation-item-catalog {
  position: relative;
}

.navigation-item-catalog:hover .navigation-tastes {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30px;
  left: -5px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  border-radius: 5px;
}

.navigation-tastes-item {
  text-align: left;
  white-space: nowrap;
  line-height: 1.14;
  font-size: 14px;
  padding-top: 5px;
}

.navigation-tastes-item:last-child {
  padding-bottom: 5px;
}

.navigation-tastes-item>a {
  display: block;
  text-decoration: none;
  color: #323232;
  font-weight: normal;
  padding: 7px 20px;
}

.navigation-tastes-new {
  border-bottom: 1px solid rgba(50, 50, 50, 0.2);
  padding-bottom: 5px;
}

.navigation-tastes-new>a {
  font-weight: bold;
}

.navigation-tastes-item>a:hover,
.navigation-tastes-item>a:focus {
  background-color: #fbded7;
}

.navigation-tastes-item>a:active {
  background-color: #f6b5a5;
  box-shadow: none;
}

.current-page>a {
  background-color: #d07058;
  border-radius: 40px;
  text-decoration: none;
}

.additional-navigation-container {
  width: 246px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  align-items: center;
  background-color: #323232;
}

.additional-navigation-container .button {
  background-color: rgba(255, 255, 255, 0.2);
  text-decoration: none;
  line-height: 1.14;
  border-radius: 40px;
  padding: 5px 12px;
  font-size: 14px;
  font-weight: 500;
}

.additional-navigation-container .button-search {
  border-radius: 50%;
  padding: 8px;
}

.additional-navigation-container .button:hover,
.additional-navigation-container .button:focus,
.button-search:hover path,
.button-account:hover path,
.button-search:focus path,
.button-account:focus path {
  background-color: #f8f7f4;
  color: #323232;
  fill: #323232;
}

.account-button-container {
  position: relative;
}

.account {
  width: 278px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.account-form {
  display: flex;
  flex-wrap: wrap;
  margin-left: 19px;
  margin-bottom: 22px;
}

.account-form input {
  margin-top: 20px;
  margin-right: 20px;
  padding-left: 15px;
  border: none;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  width: 100%;
  height: 44px;
}

.account-form input::placeholder {
  font-size: 14px;
  color: #999999;
  line-height: 1.71;
}

.account-link-container {
  margin-top: 20px;
}

.account-link-container>a {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  line-height: 1.85;
  text-align: left;
  color: #323232;
  margin: 0;
  padding: 0;
  margin-left: 20px;
}

.account-form .button {
  width: 100px;
  height: 44px;
  line-height: 1.33;
  font-size: 18px;
  font-weight: bold;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  box-shadow: 0px 1px 2px 0 #ac1000;
  border: none;
  border-radius: 20px;
  margin-top: 20px;
}

.work-schedule-container {
  width: 1146px;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
}

.work-schedule {
  align-items: flex-start;
}

.work-schedule-time {
  font-size: 14px;
  margin: 0px;
  font-weight: bold;
  text-align: right;
}

.work-schedule-phone {
  font-size: 22px;
  margin: 0px;
  margin-top: 5px;
  font-weight: bold;
  text-align: right;
}

.advantages {
  width: 1146px;
  background-color: #efe4cb;
  background-image: url("../img/advantages-background.png");
  background-repeat: repeat;
  border-radius: 15px;
  color: #323232;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.advantages-header {
  margin-top: 21px;
  margin-left: 21px;
  font-size: 24px;
  font-weight: 500;
}

.advantages-list {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0px;
  margin: 0px;
}

.advantages-list li {
  width: 531px;
}

.blog-distribution-container {
  width: 1146px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 40px;
}

.blog {
  display: flex;
  flex-direction: column;

  width: 560px;
  min-height: 220px;

  background-color: #ffffff;
  background-image: url("../img/blog-image.jpg");
  background-repeat: no-repeat;

  border-radius: 15px;

  color: #323232;
}

.blog-header {
  font-weight: 500;
  margin-left: 20px;
}

.blog-link {
  width: 280px;
  font-size: 24px;
  font-weight: bold;
  color: #323232;
  margin-left: 19px;
}

.distribution {
  display: flex;
  flex-direction: column;

  width: 549px;
  min-height: 211px;

  background-color: #f8f7f4;

  border: 5px solid;
  border-radius: 10px;
  border-image-source: url("../img/svg/bg-post.svg");
  border-image-slice: 5;
  border-image-repeat: round;
}

.distribution-text {
  margin-left: 21px;
  margin-top: 33px;
  width: 506px;
  color: #5a5a5a;
}

.distribution form {
  margin-top: 38px;
  margin-left: 21px;
}

.button-distribution-input {
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
}

.footer-container {
  width: 1146px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.social-network-list {
  margin: 0px;
  padding: 0px;
  display: flex;
  list-style-type: none;
}

.social-network-instagram,
.social-network-facebook,
.social-network-vk {
  margin-left: 11px;
}

.about-us-container {
  display: flex;
}

.about-us-list {
  width: 304px;
  display: flex;
  list-style-type: none;
  font-size: 13px;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
}

.about-us-list a:hover,
.about-us-list a:focus,
.about-us-list a:active {
  color: #ffbc9e;
}

.about-us-suppliers {
  font-weight: bold;
  margin-right: 30px;
  margin-bottom: 9px;
}

.about-us-document {
  margin-right: 35px;
}

.html-academy-container {
  width: 190px;
  display: flex;
  flex-wrap: wrap;
}

.html-academy-container a:hover,
.html-academy-container a:focus,
.html-academy-container a:active {
  color: #ffbc9e;
}

.html-academy-text {
  font-size: 12px;
}

.breadcrumbs-container {
  display: flex;
  flex-direction: column;
  width: 1146px;
  margin: 0 auto;
}

.breadcrumbs-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  width: 220px;
}

.catalog-header-container {
  width: 1146px;
  display: flex;
  margin: 0 auto;
}

.catalog-header {
  margin: 0px;
  margin-top: 10px;
  padding: 0px;
  font-size: 35px;
  font-weight: bold;
}

.breadcrumbs-list a:hover,
.breadcrumbs-list a:focus,
.breadcrumbs-list a:active {
  color: #ffbc9e;
}

.catalog {
  display: flex;
  flex-direction: column;
  width: 1146px;
  margin: 0 auto;
}

.catalog-list {
  display: flex;
  margin: 0px;
  padding: 0px;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}

.catalog-list-item {
  width: 267px;
}

.catalog-list-item p {
  font-size: 45px;
  font-weight: bold;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}

.catalog-list-item span {
  font-size: 30px;
  font-weight: bold;
}

.catalog-list-item h3 {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 1.38;
}

.catalog-list-item:hover {
  background-color: rgba(248, 247, 244, 0.2);
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.catalog-list-item a:hover,
.catalog-list-item a:focus,
.catalog-list-item a:active {
  color: #ffbc9e;
}

.catalog-pagination-container {
  margin-top: 80px;
}

.catalog-pagination {
  display: flex;
  justify-content: flex-end;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.catalog-pagination-list {
  width: 27px;
  height: 26px;
  font-weight: 500;
}

.breadcrumbs-current-page a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
